VITE_GOLDRUSH_API_KEY=your_goldrush_api_key_here
VITE_SETTLEMENT_CONTRACT_ADDRESS=0xYourDeployedSettlementContract
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
DEPLOYER_PRIVATE_KEY=0xyour_private_key_without_quotes
